---
import PageLayout from '@/layouts/BaseLayout.astro'
import ToolSection from '@/components/ToolSection.astro'
import Button from '@/components/Button.astro'

const PRODUCTIVITY = [
	{
		name: 'Apple Notes',
		description: 'Quick Notes',
		href: 'https://www.icloud.com/notes',
		iconPath: 'apple-notes'
	},
	{
		name: 'Perplexity',
		description: 'AI Search',
		href: 'https://www.perplexity.ai/',
		iconPath: 'perplexity'
	}
]

const DEVELOPMENT = [
	{
		name: 'VS Code',
		description: 'IDE',
		href: 'https://code.visualstudio.com/',
		iconPath: 'vscode'
	},
	{
		name: 'GitHub Copilot',
		description: 'AI Code Completion',
		href: 'https://github.com/features/copilot',
		iconPath: 'copilot'
	},
	{
		name: 'Postman',
		description: 'API Testing',
		href: 'https://www.postman.com/',
		iconPath: 'postman'
	},
	{
		name: 'TablePlus',
		description: 'Database GUI',
		href: 'https://tableplus.com/',
		iconPath: 'tableplus'
	}
]
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='w-full'>
		<Button title='Back' href='/' style='button'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-before'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
				>
				</path>
			</svg>
		</Button>

		<div class='mt-5 flex w-full flex-col gap-y-10'>
			<div>
				<h1 class='mb-1 text-2xl font-bold'>Tools</h1>
				<p>Tools and software I use daily</p>
			</div>

			<ToolSection title='Productivity' tools={PRODUCTIVITY} />
			<ToolSection title='Development' tools={DEVELOPMENT} />
		</div>
	</div>
</PageLayout>
